<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wizard.ptcbcs.baseinfo.mapper.IBusFactoryMapper">

	<resultMap id="BusFactoryResultMap" type="BusFactory" >
		<id property="factoryNo" column="factoryNo" />
		<result property="factoryName" column="factoryName"/>
		<result property="factoryDesc" column="factoryDesc"/>
	</resultMap>
	
	<insert id="insert" parameterType="BusFactory">
		<selectKey keyProperty="factoryNo" resultType="int" order="BEFORE">
			select SQ_BusFactory.nextval from dual
		</selectKey>
		INSERT INTO BusFactory(factoryNo,factoryName,factoryDesc) 
		VALUES(#{factoryNo},#{factoryName},#{factoryDesc})
	</insert>
	
	<update id="update" parameterType="BusFactory">
		update BusFactory set factoryName=#{factoryName}, factoryDesc=#{factoryDesc}
		where factoryNo=#{factoryNo} 
	</update>
	
	<delete id="delete" parameterType="BusFactory">
		delete from BusFactory where factoryNo=#{factoryNo} 
	</delete>
	
	<select id="select" parameterType="int" resultMap="BusFactoryResultMap">
		<!-- select a.*,b.* from Area a left outer join Building b on a.AREANO=b.AreaNo 
		where a.AREANO=#{areaNo} -->
		select * from BusFactory where factoryNo=#{factoryNo}
	</select>
	
	
	<select id="selectListByAll" resultMap="BusFactoryResultMap">
		select * from BusFactory
	</select>
	
	<select id="selectListByAllWithPage" resultMap="BusFactoryResultMap">
		select * from BusFactory
	</select>
	
	
	<select id="selectCountByAll" resultType="int">
		select count(*) from BusFactory
	</select>
	
	
	


</mapper>

